<%if (format === 'text') { %>

Hi <%= user.displayName || user.username || user.alternateEmail || user.email %>,

Someone, hopefully you, has requested your <%= cloudronName %> account's password
be reset. If you did not request this reset, please ignore this message.

To reset your password, please visit the following page:
<%= resetLink %>

When you visit the above page, you will be prompted to enter a new password.
After you have submitted the form, you can login using the new password.



Powered by Cloudron.io

<% } else { %>

<center>

<img src="<%= cloudronAvatarUrl %>" width="128px" height="128px"/>

<h3>Hi <%= user.displayName || user.username || user.alternateEmail || user.email %>,</h3>

<p>
    Someone, hopefully you, has requested your <%= cloudronName %> account's password be reset.<br/>
    If you did not request this reset, please ignore this message.
</p>

<p>
    <a href="<%= resetLink %>">Click to reset your password</a>
</p>

<p>
    When you visit the above page, you will be prompted to enter a new password.<br/>
    After you have submitted the form, you can login using the new password.
</p>

<br/>
<br/>

<div style="font-size: 10px; color: #333333; background: #ffffff;">
    Powered by <a href="https://cloudron.io">Cloudron</a>.
</div>

</center>

<% } %>
