<%if (format === 'text') { %>

Hi <%= user.displayName || user.username || user.alternateEmail || user.email %>,

Welcome to <%= cloudronName %>!

To get started, activate your account by visiting the following page:
<%= setupLink %>

<% if (invitor && invitor.email) { %>
Your <%= invitor.email %>
<% } %>

<% } else { %>

<center>

<img src="<%= cloudronAvatarUrl %>"/>

<h3>Hi <%= user.displayName || user.username || user.alternateEmail || user.email %>,</h3>

<h2>Welcome to <%= cloudronName %>!</h2>

<p>
<% if (invitor && invitor.email) { %>
    You got invited by <%= invitor.email %>.<br/>
<% } %>
    To get started, <a href="<%= setupLink %>">activate your account</a>.
</p>

<% } %>
