<%if (format === 'text') { %>

Hi <%= user.displayName || user.username || user.alternateEmail || user.email %>,

Welcome to <%= cloudronName %>!

To get started, activate your account:
<%= setupLink %>

<% if (invitor && invitor.email) { %>
You are receiving this email because you were invited by <%= invitor.email %>.
<% } %>


Powered by Cloudron.io

<% } else { %>

<center>

<img src="<%= cloudronAvatarUrl %>" width="128px" height="128px"/>

<h3>Hi <%= user.displayName || user.username || user.alternateEmail || user.email %>,</h3>

<h2>Welcome to <%= cloudronName %>!</h2>

<p>
    To get started, <a href="<%= setupLink %>">activate your account</a>.
</p>

<br/>
<br/>

<div style="font-size: 10px; color: #333333; background: #ffffff;">
    Powered by <a href="https://cloudron.io">Cloudron</a>.

    <br/>

    <% if (invitor && invitor.email) { %>
        You are receiving this email because you were invited by <%= invitor.email %>.
    <% } %>
</div>

<% } %>

</center>

