<%if (format === 'text') { %>

Hi <%= user.displayName || user.username || user.alternateEmail || user.email %>,

Welcome to <%= cloudronName %>!

To get started, activate your account by visiting the following page:
<%= setupLink %>

<% if (invitor && invitor.email) { %>
Your <%= invitor.email %>
<% } %>

<% } else { %>

<center>

<h3>Hi <%= user.displayName || user.username || user.alternateEmail || user.email %>,</h3>

<img src="<%= cloudronAvatarUrl %>"/>
<h1>Welcome to <%= cloudronName %>!</h1>

<p>
    To get started, activate your account by visiting the following page:<br/>
    <a href="<%= setupLink %>"><%= setupLink %></a>
</p>

<p>
    <% if (invitor && invitor.email) { %>
    Your <%= invitor.email %>
    <% } %>
</p>

<% } %>
