<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <title> Cloudron Login </title>

    <!-- Custom Fonts -->
    <link href="<%= adminOrigin %>/3rdparty/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="<%= adminOrigin %>/3rdparty/fonts/roboto.woff2" rel="stylesheet" type="text/css">  <!-- From https://fonts.googleapis.com/css?family=Roboto:300 -->

    <!-- jQuery-->
    <script src="<%= adminOrigin %>/3rdparty/js/jquery.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="<%= adminOrigin %>/3rdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Theme CSS -->
    <link href="<%= adminOrigin %>/3rdparty/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Bootstrap Core JavaScript -->
    <script src="<%= adminOrigin %>/3rdparty/bootstrap/js/bootstrap.min.js"></script>

    <!-- Angularjs scripts -->
    <script src="<%= adminOrigin %>/3rdparty/js/angular.min.js"></script>
    <script src="<%= adminOrigin %>/3rdparty/js/angular-loader.min.js"></script>

</head>

<body>
