<% include header %>

<div class="container main-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="card" style="max-width: none; padding: 20px; text-align: left;">
                <div class="row">
                    <div class="col-md-12">
                        <h1><img width="64" height="64" src="<%= applicationLogo %>"/> Login to <%= applicationName %> on <%= cloudronName %></h1>
                    </div>
                </div>
                <br/>
            <% if (error) { %>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="has-error"><%= error %></h4>
                    </div>
                </div>
            <% } %>
                <div class="row">
                    <div class="col-md-12">
                        <form id="loginForm" action="" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrf %>"/>
                            <div class="form-group">
                                <label class="control-label" for="inputUsername">Username or Email</label>
                                <input type="text" class="form-control" id="inputUsername" name="username" autofocus required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputPassword">Password</label>
                                <input type="password" class="form-control" name="password" id="inputPassword" required>
                            </div>
                            <input class="btn btn-primary btn-outline pull-right" type="submit" value="Sign in"/>
                        </form>
                        <a href="/api/v1/session/password/resetRequest.html">Reset your password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

(function () {
    'use strict';

    var search = window.location.search.slice(1).split('&').map(function (item) { return item.split('='); }).reduce(function (o, k) { o[k[0]] = k[1]; return o; }, {});

    document.getElementById('loginForm').action = '/api/v1/session/login?returnTo=' + search.returnTo;
})();

</script>

<% include footer %>
