LoadPlugin "table"
<Plugin table>
  <Table "/sys/fs/cgroup/memory/system.slice/docker-<%= containerId %>.scope/memory.stat">
    Instance "<%= appId %>-memory"
    Separator " \\n"
    <Result>
      Type gauge
      InstancesFrom 0
      ValuesFrom 1
    </Result>
  </Table>

  <Table "/sys/fs/cgroup/memory/system.slice/docker-<%= containerId %>.scope/memory.max_usage_in_bytes">
    Instance "<%= appId %>-memory"
    Separator "\\n"
    <Result>
      Type gauge
      InstancePrefix "max_usage_in_bytes"
      ValuesFrom 0
    </Result>
  </Table>

  <Table "/sys/fs/cgroup/cpuacct/system.slice/docker-<%= containerId %>.scope/cpuacct.stat">
    Instance "<%= appId %>-cpu"
    Separator " \\n"
    <Result>
      Type gauge
      InstancesFrom 0
      ValuesFrom 1
    </Result>
  </Table>
</Plugin>
